<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: header">
    <body>

        <div th:replace="fragments :: navbar"></div>


        <div class="container mt-5 main">
            <h1 th:text="${title}"></h1>
            <hr class="mb-5 col-xl-12"/>
            <form autocomplete="off" class="needs-validation" id="formulario" method="POST"
                  novalidate th:action="@{/libros/__${action}__}" th:object="${libro}">

                <input th:field="*{id}" type="hidden"/>

                <div class="form-floating mb-3 col-xl-6">
                    <input class="form-control" id="titulo" placeholder="Titulo" required th:field="*{titulo}" type="text"/>
                    <label for="titulo">Titulo</label>
                    <div class="invalid-feedback">El titulo es obligatorio</div>
                </div>

                <div class="form-floating mb-3 col-xl-6">
                    <input class="form-control" id="isbn" placeholder="ISBN" required th:field="*{isbn}" type="number"/>
                    <label for="isbn">ISBN</label>
                    <div class="invalid-feedback">El ISBN es obligatorio</div>
                </div>
                <div class="form-floating mb-3 col-xl-6">
                    <input class="form-control" id="anio" placeholder="Año" required th:field="*{anio}" type="number"/>
                    <label for="anio">Año</label>
                    <div class="invalid-feedback">El año es obligatorio</div>
                </div>
                <div class="form-floating mb-3 col-xl-6">
                    <input class="form-control" id="ejemplares" placeholder="Cantidad de ejemplares" required th:field="*{ejemplares}" type="number"/>
                    <label for="ejemplares">Cantidad de ejemplares</label>
                    <div class="invalid-feedback">La cantidad de ejemplares es obligatorio</div>
                </div>
                <div class=" mb-3 col-xl-6">           
                    <label for="idAutor" >Autor</label>   
                         <select  aria-label="Elegir autor" class="form-select" id="idAutor" required th:field="*{autor}">    
                              <option value="">Elegir autor</option>  
                        <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}" th:selected="${libro.autor != null} ? ${autor.nombre} == *{autor.nombre} : false"></option>   
                    
                         </select>    
                    <div class="invalid-feedback">El autor es obligatorio</div>
                </div>

                <div class="mb-3 col-xl-6">           
                    <label for="idEditorial" >Editorial</label>   
                    <select aria-label="Elegir editorial"   class="form-select"  id="idEditorial"  required th:field="*{editorial}" >                       
                          <option  value="">Elegir editorial</option>
                          <option  th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"  th:selected="${libro.editorial != null} ? ${editorial.nombre} == *{editorial.nombre} : false"  ></option>   
                    </select>    
                    <div class="invalid-feedback">La editorial es obligatoria</div>
                </div>




                <div class="row">
                    <div class="col-xl-3">
                        <button class="btn btn-success" th:text="${action == 'guardar'} ? 'Crear libro' : 'Guardar cambios'"
                                type="submit"></button>
                    </div>
                </div>
            </form>
        </div>

        <div th:replace="fragments :: foot"></div>
        <!-- JS -->
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
        <script>
            (() => {
                "use strict";

                const form = document.getElementById("formulario");
                form.addEventListener("submit", (event) => {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add("was-validated");
                }, false)
            })();
        </script>
    </body>
</html>